{% extends 'backend.html' %}
{% block content %}
    <div class="container flex flex-col items-center justify-center max-w-lg pt-16 mx-auto">
        <div class='flex items-center justify-center w-full p-4 text-white bg-blue-600 header-bar rounded-t-md'>
            <h2>公司註冊</h2>
        </div>
        <div class="flex flex-col w-full task-items-wrapper">
            <div class="flex items-center justify-center w-full px-6 py-4 bg-white border-t border-gray-300 task-wrapper">
                <form method="post" action="{% url 'companies:register' %}" class="w-full max-w-lg">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="id_username" class="block mb-2 text-sm font-bold text-gray-700">用戶名：</label>
                        <input type="text" name="username" required id="id_username" placeholder="請輸入4-20個字符" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="id_email" class="block mb-2 text-sm font-bold text-gray-700">電子郵件：</label>
                        <input type="email" name="email" required id="id_email" placeholder="請輸入有效的電子郵件地址" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="id_password1" class="block mb-2 text-sm font-bold text-gray-700">密碼：</label>
                        <input type="password" name="password1" required id="id_password1" placeholder="至少8個字符，包含大小寫字母及數字" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-6">
                        <label for="id_password2" class="block mb-2 text-sm font-bold text-gray-700">確認密碼：</label>
                        <input type="password" name="password2" required id="id_password2" placeholder="請再次輸入同樣的密碼" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" class="px-4 py-2 text-blue-600 bg-white border border-blue-600 rounded button hover:bg-blue-600 hover:text-white">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <small><a href="{% url 'companies:login' %}" class="text-gray-500">已有帳號？登入</a></small>
    </div>
{% endblock %}