{% extends 'base.html' %}

{% block content %}
<h2>編輯個人信息</h2>
<form method="post" id="myForm" action="{% url 'resume:ProfileUpdate' pk=profile.pk %}">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">提交</button>
<a href="#" id="cancelBtn">全部取消</a>
</form>
<form method="post" action="{% url 'resume:ProfileDeleteView' pk=profile.pk %}">
    {% csrf_token %}
    <button type="submit">刪除</button>
</form>

<script>
document.getElementById("cancelBtn").addEventListener("click", function() {
    // 清空表單內容
    document.getElementById("myForm").reset();
});
</script>
{% endblock %}